* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  height: 6690px; /* é aqui que muda */
}

div.center {
  padding: 15vh 2% 0 2%;
}

html,
body {
  height: 100%;
}

/*Navbar*/
header {
  height: 200px;
  padding: 20px 0;
}

.logo {
  width: 50%;
}

.menu {
  padding-top: 30px;
  padding-left: 250px;
  width: 50%;
  text-align: center;
  display: flex;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu li {
  width: 150px;
  height: 20px;
  list-style: none;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  font-size: 16px;
  letter-spacing: 0.1em;
  display: flex;
}

.menu li:hover > a {
  color: #ffd100;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu {
  margin-top: 1px;
  display: none;
}

.submenu a {
  width: 150%;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  border-left: 8px solid transparent;
}

/*QATAR ESCRITA */
.main-title {
  color: #444;
  margin: 0 0 75px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 18%;
  position: absolute;
  top: 60px;
  left: 44.9%;
}

nav ul {
  padding-bottom: -20000px;
  padding-left: 60px;
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav ul a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

nav ul a:hover {
  color: #ffd100 !important;
  cursor: pointer;
}

#about p,
#about li {
  color: #444;
  font-size: 14px;
  text-align: justify;
  padding-left: 100px;
}

h3 {
  padding-top: 10px;
  padding-left: 100px;
  text-align: center;
}

#alemanha1 {
  padding-left: 100px;
}

#alemanha1 img {
  padding-bottom: 90px;
}

#alemanha1 p,
#alemanha1 h3 {
  margin-left: -100px;
}

#argentina1 {
  padding-left: 100px;
}

#argentina1 p,
#argentina1 h3 {
  margin-left: -100px;
}

#argentina1 img {
  padding-bottom: 90px;
}

#franca1 {
  padding-left: 100px;
}

#franca1 img {
  padding-bottom: 90px;
}

#franca1 p,
#franca1 h3 {
  margin-left: -100px;
}

#franca2 {
  padding-left: 100px;
}

#franca2 img {
  padding-bottom: 90px;
}

#franca2 p,
#franca2 h3 {
  margin-left: -100px;
}

#espanha1 {
  padding-left: 100px;
}

#espanha1 img {
  padding-bottom: 90px;
}

#espanha1 p,
#espanha1 h3 {
  margin-left: -100px;
}

#espanha2 {
  padding-left: 100px;
}

#espanha2 img {
  padding-bottom: 90px;
}

#espanha2 p,
#espanha2 h3 {
  margin-left: -100px;
}

#espanha3 {
  padding-left: 100px;
}

#espanha3 img {
  padding-bottom: 90px;
}

#espanha3 p,
#espanha3 h3 {
  margin-left: -100px;
}

#espanha4 {
  padding-left: 100px;
}

#espanha4 img {
  padding-bottom: 90px;
}

#espanha4 p,
#espanha4 h3 {
  margin-left: -100px;
}

#brasil1 {
  padding-left: 100px;
}

#brasil1 img {
  padding-bottom: 90px;
}

#brasil1 p,
#brasil1 h3 {
  margin-left: -100px;
}

#brasil2 {
  padding-left: 100px;
}

#brasil2 img {
  padding-bottom: 90px;
}

#brasil2 p,
#brasil2 h3 {
  margin-left: -100px;
}

#brasil3 {
  padding-left: 100px;
}

#brasil3 img {
  padding-bottom: 90px;
}

#brasil3 p,
#brasil3 h3 {
  margin-left: -100px;
}

#brasil4 {
  padding-left: 100px;
}

#brasil4 img {
  padding-bottom: 90px;
}

#brasil4 p,
#brasil4 h3 {
  margin-left: -100px;
}

#brasil5 {
  padding-left: 100px;
}

#brasil5 img {
  padding-bottom: 90px;
}

#brasil5 p,
#brasil5 h3 {
  margin-left: -100px;
}
/* COPYRIGHT */

#copy-area {
  background-color: #fff;
}

#copy-area .container {
  padding: 1px 0;
  text-align: center;
  padding-left: 360px;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #ffd100;
}

#copy-area .seta {
  transform: translateY(-25px);
  width: 65px;
  animation: bounce 0.3s alternate ease-in-out infinite;
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /*geral*/
  .container {
    padding: 24px 0;
  }
  .logo {
    margin-left: 20px;
  }
  .menu {
    margin-top: -80px;
    margin-left: 220px;
  }

  .center {
    height: 6100px;
  }
  .main-title {
    margin-left: -50px;
  }

  #about li {
    margin-left: -40px;
    margin-right: -50px;
  }

  #about p {
    margin-left: -20px;
    margin-right: 45px;
  }

  #about h3 {
    margin-left: -60px;
  }
  /*ALEMANHA*/

  #alemanha1 .col-12 p {
    margin-right: 50px;
  }

  #alemanha1 p {
    margin-left: -120px;
    margin-right: 60px;
  }
  #alemanha1 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #alemanha1 img {
    margin-top: 54px;
    margin-left: -5px;
  }

  /*ARGENTINA*/
  #argentina1 .col-12 p {
    margin-left: -120px;
    margin-right: 45px;
  }
  #argentina1 .col-md-6 p {
    margin-left: -105px;
    margin-right: 45px;
  }
  #argentina1 .col-md-6 h3 {
    margin-left: -95px;
    margin-right: 35px;
  }
  #argentina1 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #argentina1 img {
    margin-top: 89px;
    margin-left: -60px;
  }

  /*FRANÇA1*/
  #franca1 p {
    margin-left: -120px;
    margin-right: 45px;
  }

  #franca1 .col-md-6 h3 {
    margin-left: -130px;
    margin-right: 60px;
  }

  #franca1 .col-md-6 p {
    margin-left: -120px;
    margin-right: 60px;
  }

  #franca1 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #franca1 img {
    margin-top: 89px;
    margin-left: -5px;
  }

  /*FRANÇA 2*/
  #franca2 .col-12 p {
    margin-left: -120px;
    margin-right: 45px;
  }
  #franca2 .col-md-6 p {
    margin-left: -105px;
    margin-right: 45px;
  }
  #franca2 .col-md-6 h3 {
    margin-left: -110px;
    margin-right: 60px;
  }
  #franca2 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #franca2 img {
    margin-top: 59px;
    margin-left: -60px;
  }

  /*ESPANHA1*/
  #espanha1 p {
    margin-left: -120px;
    margin-right: 45px;
  }

  #espanha1 .col-md-6 h3 {
    margin-left: -140px;
    margin-right: 60px;
  }

  #espanha1 .col-md-6 p {
    margin-left: -120px;
    margin-right: 60px;
  }

  #espanha1 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #espanha1 img {
    margin-top: 59px;
    margin-left: -5px;
  }

  /*ESPANHA 2*/
  #espanha2 .col-12 p {
    margin-left: -120px;
    margin-right: 45px;
  }
  #espanha2 .col-md-6 p {
    margin-left: -105px;
    margin-right: 45px;
  }
  #espanha2 .col-md-6 h3 {
    margin-left: -110px;
    margin-right: 35px;
  }
  #espanha2 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #espanha2 img {
    margin-top: 85px;
    margin-left: -60px;
  }
  /*ESPANHA 3*/

  #espanha3 .col-md-6 h3 {
    margin-left: -140px;
    margin-right: 60px;
  }

  #espanha3 .col-md-6 p {
    margin-left: -120px;
    margin-right: 60px;
  }

  #espanha3 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #espanha3 img {
    margin-top: 59px;
    margin-left: -5px;
  }

  /*ESPANHA 4*/
  #espanha4 .col-12 p {
    margin-left: -120px;
    margin-right: 45px;
  }
  #espanha4 .col-md-6 p {
    margin-left: -105px;
    margin-right: 45px;
  }
  #espanha4 .col-md-6 h3 {
    margin-left: -110px;
    margin-right: 35px;
  }
  #espanha4 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #espanha4 img {
    margin-top: 55px;
    margin-left: -60px;
  }

  /*BRASIL1*/
  #brasil1 p {
    margin-left: -120px;
    margin-right: 45px;
  }

  #brasil1 .col-md-6 h3 {
    margin-left: -130px;
    margin-right: 60px;
  }

  #brasil1 .col-md-6 p {
    margin-left: -120px;
    margin-right: 60px;
  }

  #brasil1 h3 {
    margin-left: -120px;
    margin-right: 70px;
  }

  #brasil1 img {
    margin-top: 89px;
    margin-left: -5px;
  }

  /*BRASIL 2*/

  #brasil2 .col-md-6 p {
    margin-left: -105px;
    margin-right: 45px;
  }
  #brasil2 .col-md-6 h3 {
    margin-left: -110px;
    margin-right: 35px;
  }

  #brasil2 img {
    margin-top: 55px;
    margin-left: -60px;
  }

  /*BRASIL3*/
  #brasil3 .col-md-6 h3 {
    margin-left: -130px;
    margin-right: 60px;
  }

  #brasil3 .col-md-6 p {
    margin-left: -120px;
    margin-right: 60px;
  }

  #brasil3 img {
    margin-top: 89px;
    margin-left: -5px;
  }

  /*BRASIL 4*/

  #brasil4 .col-md-6 p {
    margin-left: -105px;
    margin-right: 45px;
  }
  #brasil4 .col-md-6 h3 {
    margin-left: -110px;
    margin-right: 35px;
  }

  #brasil4 img {
    margin-top: 55px;
    margin-left: -60px;
  }
  /*BRASIL5*/
  #brasil5 .col-md-6 h3 {
    margin-left: -130px;
    margin-right: 60px;
  }

  #brasil5 .col-md-6 p {
    margin-left: -120px;
    margin-right: 60px;
  }

  #brasil5 img {
    margin-top: 89px;
    margin-left: -5px;
  }
  #copy-area {
    margin-left: -140px;
  }
}
