* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  height: 4300px; /* é aqui que muda */
}

div.center {
  padding: 15vh 2% 0 2%;
}

html,
body {
  height: 100%;
}

/*Navbar*/
header {
  height: 200px;
  padding: 20px 0;
}

.logo {
  width: 50%;
}

.menu {
  padding-top: 30px;
  padding-left: 250px;
  width: 50%;
  text-align: center;
  display: flex;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu li {
  width: 150px;
  height: 20px;
  list-style: none;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  font-size: 16px;
  letter-spacing: 0.1em;
  display: flex;
}

.menu li:hover > a {
  color: #ffd100;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu {
  margin-top: 1px;
  display: none;
}

.submenu a {
  width: 150%;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  border-left: 8px solid transparent;
}

/*QATAR ESCRITA */
.main-title {
  color: #444;
  margin: 0 0 75px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 18%;
  position: absolute;
  top: 60px;
  left: 44.9%;
}

nav ul {
  padding-bottom: -20000px;
  padding-left: 245px;
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav ul a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

nav ul a:hover {
  color: #ffd100 !important;
  cursor: pointer;
}

#about p,
#about li {
  color: #444;
  font-size: 14px;
  text-align: justify;
  padding-left: 100px;
}

h3 {
  padding-top: 10px;
  padding-left: 100px;
  text-align: center;
}

#estadio1 {
  padding-left: 100px;
}

#estadio1 img {
  padding-bottom: 90px;
}

#estadio1 p,
#estadio1 h3 {
  margin-left: -100px;
}

#estadio2 {
  padding-left: 100px;
}

#estadio2 p,
#estadio2 h3 {
  margin-left: -100px;
}

#estadio2 img {
  padding-bottom: 90px;
}

#estadio3 {
  padding-left: 100px;
}
#estadio3 p,
#estadio3 h3 {
  margin-left: -100px;
}
#estadio3 img {
  padding-bottom: 90px;
}

#estadio4 {
  padding-left: 100px;
}
#estadio4 p,
#estadio4 h3 {
  margin-left: -100px;
}
#estadio4 img {
  padding-bottom: 90px;
}

#estadio5 {
  padding-left: 100px;
}

#estadio5 p,
#estadio5 h3 {
  margin-left: -100px;
}
#estadio5 img {
  padding-bottom: 90px;
}

#estadio6 {
  padding-left: 100px;
}

#estadio6 p,
#estadio6 h3 {
  margin-left: -100px;
}
#estadio6 img {
  padding-bottom: 90px;
}

#estadio7 {
  padding-left: 100px;
}
#estadio7 p,
#estadio7 h3 {
  margin-left: -100px;
}
#estadio7 img {
  padding-bottom: 90px;
}

#estadio8 {
  padding-left: 100px;
}

#estadio8 p,
#estadio8 h3 {
  margin-left: -90px;
}

#estadio8 img {
  padding-bottom: 90px;
}

/* COPYRIGHT */

#copy-area {
  background-color: #fff;
}

#copy-area .container {
  padding: 1px 0;
  text-align: center;
  padding-left: 360px;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #ffd100;
}

#copy-area .seta {
  transform: translateY(-25px);
  width: 65px;
  animation: bounce 0.3s alternate ease-in-out infinite;
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /*geral*/
  .container {
    padding: 24px 0;
  }

  .logo {
    margin-left: 20px;
  }
  .main-title {
    margin-left: -50px;
  }
  .menu {
    margin-top: -90px;
    margin-left: 220px;
    margin-bottom: 150px;
  }

  #about li {
    margin-left: -98px;
    margin-right: -20px;
  }

  #historia h3 {
    margin-right: -50px;
  }

  #historia p {
    margin-right: 50px;
  }
  #copa h3 {
    margin-right: -30px;
  }
  #copa p {
    margin-right: 50px;
  }

  #estadios h3 {
    margin-right: -30px;
  }
  #estadios p {
    margin-right: 50px;
  }

  /*ESTADIO 1*/
  #estadio1 p,
  h3 {
    margin-right: 65px;
  }

  #estadio1 img {
    margin-left: 15px;
    margin-bottom: -350px;
  }

  /*ESTADIO 2*/
  #estadio2 p,
  h3 {
    margin-left: -85px;
    margin-right: 45px;
  }

  #estadio2 img {
    margin-bottom: -430px;
    margin-left: -65px;
  }

  /*ESTADIO 3*/
  #estadio3 p,
  h3 {
    margin-right: 65px;
  }

  #estadio3 img {
    margin-left: 15px;
    margin-bottom: -350px;
  }
  /* ESTADIO 4*/
  #estadio4 p,
  h3 {
    margin-left: -85px;
    margin-right: 45px;
  }

  #estadio4 img {
    margin-bottom: -350px;
    margin-left: -65px;
  }

  /*ESTADIO 5*/
  #estadio5 p,
  h3 {
    margin-right: 65px;
  }

  #estadio5 img {
    margin-left: 15px;
    margin-bottom: -350px;
  }

  /*ESTADIO 6*/
  #estadio6 p,
  h3 {
    margin-left: -85px;
    margin-right: 45px;
  }

  #estadio6 img {
    margin-bottom: -430px;
    margin-left: -65px;
  }
  /*ESTADIO 7*/
  #estadio7 p,
  h3 {
    margin-right: 65px;
  }

  #estadio7 img {
    margin-left: 15px;
    margin-bottom: -350px;
  }
  /*ESTADIO 8*/
  #estadio8 p,
  h3 {
    margin-left: -85px;
    margin-right: 45px;
  }

  #estadio8 img {
    margin-bottom: -430px;
    margin-left: -65px;
  }

  #copy-area {
    margin-left: -190px;
  }
}
