* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*Navbar*/
header {
  height: 200px;
  padding: 20px 0;
}

.logo {
  width: 50%;
}

.dropdown-menu {
  padding-top: 30px;
  width: 50%;
  text-align: center;
  display: flex;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu li {
  width: 150px;
  height: 20px;
  list-style: none;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  font-size: 16px;
  letter-spacing: 0.1em;
  display: flex;
}

.dropdown-menu li:hover > a {
  color: #ffd100;
}

.dropdown-menu li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-submenu {
  margin-top: 1px;
  display: none;
}

.dropdown-submenu a {
  width: 150%;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  border-left: 8px solid transparent;
}

/*Ronaldão */
section.sobre {
  height: calc(100% - 200px);
  position: relative;
}

.extras {
  position: absolute;
  bottom: -330px;
  right: -340px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #ffd100;
}

.texto-sobre h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

.texto-sobre p {
  margin: 20px 0;
  color: black;
  font-size: 14px;
  font-weight: bold;
  max-width: 450px;
}

.texto-sobre button {
  border: 0;
  background-color: #ffd100;
  color: black;
  font-size: 19px;
  font-weight: bold;
  border-radius: 30px;
  width: 150px;
  height: 45px;
  padding: 10px 20px;
  border: 3px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.texto-sobre button:hover {
  text-decoration: none;
  color: #ffd100;
  background-color: transparent;
  border-color: #ffd100;
}
